.default-btn {
  font-family: $rubik-font;
  font-weight: 500;
  font-size: 14px;
  padding: 15px;
  background-color: $primary-color;
  color: #FFF;
  display: inline-block;
  text-decoration: none;
}

.btn {
  @extend %inline-middle-block;
  background-color: $primary-color;
  color: #FFF;
  font-family: $rubik-font;
  font-size: 14px;
  font-weight: 400;
  padding: 0.6em 1.2em;
  text-align: center;
  text-decoration: none;
}
