.default-btn {
  font-family: $rubik-font;
  font-weight: 500;
  font-size: 14px;
  padding: 15px;
  background-color: $primary-color;
  box-sizing: border-box;
  border-radius: $base-radius;
  color: #29292C;
  display: inline-block;
  text-decoration: none;
}

.btn {
  @extend %inline-middle-block;
  background-color: $primary-color;
  color: #29292C;
  font-family: $rubik-font;
  font-size: 16px;
  font-weight: 500;
  padding: 0.8em 1.2em;
  box-sizing: border-box;
  border-radius: $base-radius;
  border: 0;
  text-align: center;
  text-decoration: none;
}

.btn--small {
  font-size: 14px;
  padding: 0.5em 1.2em;
}

.btn,
.default-btn {
  transition: background-color .3s ease;

  &:hover,
  &:focus {
    background-color: darken($primary-color, 5%);
    text-decoration: none;
  }
}
