.pagination {
  margin-top: 60px;
  text-align: center;

  .btn {
    display: block;
    width: 100%;

    + .btn {
      margin-top: 20px;
    }

    @media screen and (min-width: $mobile) {
      display: inline-block;
      width: auto;

      + .btn {
        margin: 0 0 0 20px;
      }
    }
  }
}
