---
# DevNaEstrada SCSS file
---

// vendor
@import "bourbon";
@import "./../../../node_modules/node-normalize-scss/normalize";

// core
@import "core/config/colors";
@import "core/config/units";
@import "core/config/typograph";
@import "core/extend/inline-block";
@import "core/animation";

// font
@import "modules/font/fontawesome/font-awesome";

// modules
@import "modules/structure/header";
@import "modules/structure/footer";
@import "modules/structure/cover-photo";
@import "modules/quick-access";
@import "modules/search";
@import "modules/navigation/buttons";
@import "modules/navigation/social-nav";
@import "modules/navigation/pagination";
@import "modules/blocks/post-cast";
@import "modules/post-participants";
@import "modules/post-links-sponsors";
@import "modules/post-youtube";
@import "modules/post-support";
@import "modules/partners";
@import "modules/episodes";
@import "modules/episode";
@import "modules/community";
@import "modules/form";

// layout
@import "layout/structure";
@import "layout/page-404";
