.btn {
  @extend %inline-middle-block;
  @include transition(background-color .2s ease-in-out, color .2s ease-in-out);
  background-color: transparent;
  border-radius: 3px;
  border: 2px solid $primary-color;
  color: $primary-color;
  font-family: $base-font;
  font-size: 0.8em;
  font-weight: 600;
  padding: 0.6em 1.2em;
  text-align: center;
  text-transform: uppercase;

  &:hover,
  &.active {
    background-color: $primary-color;
    color: $ligten;
  }
}