.pagination {
  margin-top: 60px;
  text-align: center;

  .btn {
    margin-left: 30px;

    &:first-child {
      margin-left: 0;
    }

	@media screen and (max-width: $iphone-retina) {
		margin-left: 15px;
	}
  }
}