/////////////////////////////////
// name: Social Nav
////////////////////////////////

.social-nav {
  margin-top: rem(30);
  text-align: center;
}

.social-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-nav li {
  @extend %inline-middle-block;
  margin-top: 15px;
  width: 49%;

  @media screen and (min-width: $tablet) {
    margin-left: rem(15);
    margin-top: 0;
    width: auto;

    &:first-child {
      margin-left: 0;
    }
  }
}

.social-nav-link {
  @include transition(all .2s ease-in-out);
  background-color: $primary-color;
  border-radius: 3px;
  border: 2px solid $primary-color;
  color: $ligten;
  display: block;
  font-size: rem(15);
  padding: rem(5) rem(10);

  &:hover {
    background-color: transparent;
    color: $ligten;
  }

  @media screen and (min-width: $tablet) {
    display: inline-block;
    font-size: $base-font-size;
  }
}