// font
$base-font-size: 16px;

// media query
$iphone-retina: 320px;
$mobile: 480px;
$tablet: 768px;
$header-menu: 820px;
$notebook: 992px;
$desktop: 1200px;

// borders
$base-radius: 3px;

// Width App
$app-max-width: 940px;

// Margin & Paddings
$app-default-margin: 30px;

// Font 
$rubik-font: 'Rubik', sans-serif;
$roboto-font: 'Roboto', sans-serif;