---
layout: page
css_class: page-supporters
title: Nossos apoiadores
permalink: /apoiadores/
---

{% for type in site.support_collection %}
  <ul class="supporters">
    <h2>{{ type.title }}</h2>
    {% for support in type.supporters %}
      <li>
        <img src="{{ site.baseurl }}{{ site.supporter_asset_url }}{{ support.img }}" alt="{{ support.name }}" /> {{ support.name }}
      </li>
    {% endfor %}
  </ul>
{% endfor %}

<ul class="supporters">
  <h2>Apoiador Master</h2>
  <li>
    <a href="{{ site.support_master.url }}" class="master-link">
      <img src="{{ "public/assets/img/master/contratado.jpg" | prepend: site.baseurl }}" alt="{{ site.support_master.name }}" class="{{ site.support_master.class }}" />
    </a>
  </li>
</ul>

<a href="https://apoia.se/devnaestrada" class="btn" target="_blank">
    Também quero apoiar
</a>
