---
layout: default
---

{% comment %}
{% include modules/quick-access.html %}
{% endcomment %}

{% for post in paginator.posts %}
  <article class="episode">
    <div class="episode-holder">
      <a href="{{ post.url }}">
        {% if post.soundcloud-post-image %}
          <img class="episode-artwork" src="https://assets.libsyn.com/secure/show/104268/artworks-{{ post.soundcloud-post-image }}-original.jpg" alt="{{ post.home-title }}" />
        {% endif %}
        {% if post.libsyn-image %}
          <img class="episode-artwork" src="https://assets.libsyn.com/secure/show/104268/{{ post.libsyn-image }}" alt="{{ post.home-title }}" />
        {% endif %}
      </a>
      <span class="episode__number">DEVNAESTRADA</span>
      <a href="{{ post.url }}" class="episode-link">
        <h1 class="episode-title">{{ post.title }}</h1>
      </a>
      <p class="episode-description">
        {{ post.description }}
      </p>
    </div>
  </article>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="btn">
      Mais recentes
    </a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="btn">
      Mais antigos
    </a>
  {% endif %}
</div>
