---
layout: page
css_class: lojinha
title: ""
permalink: /lojinha/
---
<div class="component-store">
  <h2 class="store-subtitle">Camisetas Front-end</h2>
  {% include modules/product.html data=site.products.frontend %}
</div>

<div class="component-store">
  <h2 class="store-subtitle">Camisetas Back-end</h2>
  {% include modules/product.html data=site.products.backend %}
</div>

<div class="component-store">
  <h2 class="store-subtitle">Camisetas Classic</h2>
  {% include modules/product.html data=site.products.classic %}
</div>

<p class="page-store-call">
  Não encontrou o que queria? Mande um e-mail para <strong>loja at devnaestrada.com.br</strong> que vamos fazer o possível para atender você!
</p>
