/////////////////////////////////
// name: Cover Photo
////////////////////////////////

.coverphoto {
  @include align-items(center);
  @include display(flex);
  @include justify-content(center);
  background: $darken url(../public/assets/img/cover-photo.jpg) center no-repeat;
  background-size: cover;
  max-height: rem(480);
  max-width: 100%;
  text-align: center;

  @media screen and (min-width: $tablet) {
    height: 300px;
  }
}

.coverphoto-holder {
  //
}

.coverphoto-title {
  color: $ligten;
  font-size: rem(28);
  font-weight: 600;
  margin: 0 auto;
  max-width: rem(500);
}
