footer {
  background-color: $footerColor;
  margin-top: 30px;
  padding: 30px;

  .footer-text {
    text-align: center;
    font-weight: 600;

    .fa-heart {
      color: $heart-color;
    }
  }
}
