footer {
  background-color: $footerColor;
  margin-top: rem(30);
  padding: rem(30);

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;

    @media screen and (min-width: $tablet) {
      flex-direction: row;
    }
  }
}

.profile__image {
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  display: inline-block;
  height: 50px;
  margin-bottom: 15px;
  position: relative;
  width: 50px;

  &.profile__image--femontanha {
    background-image: url('http://pbs.twimg.com/profile_images/849471628966756354/q1_8jz9V.jpg');
  }

  &.profile__image--raymon {
    background-image: url('http://pbs.twimg.com/profile_images/815923259422244864/EZs8WgQ3.jpg');
  }
}

.profile__name,
.profile__role {
  display: block;
  font-size: 15px;
}

.profile__role {
  color: $profile-role-color;
}

.profile__twitter {
  margin-top: 15px;
}
