/////////////////////////////////
// name: Header
////////////////////////////////

header {
  margin: 0 auto;
  max-width: rem(710);
  padding: rem(15);
}

.header-brand {
  display: block;
  text-align: center;

  img {
    width: rem(100)
  }

  @media screen and (min-width: $tablet) {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
}

.header-nav {
  display: block;
  text-align: center;

  @media screen and (min-width: $tablet) {
    display: inline-block;
    margin-left: rem(30);
    vertical-align: middle;
  }
}

.header-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-nav li {
  margin-top: rem(10);
  
  @media screen and (min-width: $mobile) {
    display: inline-block;
    margin-left: rem(30);
  }

  &:first-child {
    margin-left: 0;
  }
}

.header-support {
  display: block;
  margin-top: rem(15);

  @media screen and (min-width: $tablet) {
    display: none;
  }

  @media screen and (min-width: $notebook) {
    display: inline-block;
    margin-left: rem(30);
    margin-top: 0;
    vertical-align: middle;
  }
}
