/////////////////////////////////
// name: Header
////////////////////////////////

header {
  margin: 0 auto;
  max-width: rem(710);
  padding: rem(15);
  position: relative;
}

.header-brand {
  display: block;
  text-align: center;

  img {
    width: rem(100)
  }

  @media screen and (min-width: $tablet) {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
}

.nav-label {
  cursor: pointer;
  font-size: rem(28);
  position: absolute;
  right: rem(15);
  top: rem(15);

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.nav-btn {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  visibility: hidden;

  &:checked + .header-nav {
    @include transition(max-height 2s ease-in-out);
    @include transform(scaleY(1));
    @include animation(showAnimation .5s ease-in-out);
    display: block;
    max-height: 9999px;

    @media screen and (min-width: $tablet) {
      display: inline-block;
    }
  }
}

.header-nav {
  @include transition(max-height .6s ease-in-out);
  @include transform(scaleY(0));
  @include animation(hideAnimation .4s ease-out);
  max-height: 0;
  overflow: hidden;
  text-align: center;

  @media screen and (min-width: $tablet) {
    display: inline-block;
    margin-left: rem(30);
    vertical-align: middle;
  }
}

.header-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-nav li {
  margin-top: rem(10);

  @media screen and (min-width: $tablet) {
    display: inline-block;
    margin-left: rem(30);
    margin-top: 0;
  }

  &:first-child {
    margin-left: 0;
  }
}

.header-nav li a {
  display: block;

  @media screen and (min-width: $tablet) {
    display: inline-block;
  }
}
