/////////////////////////////////
// name: Header
////////////////////////////////

header {
  background-color: $ligten;
  margin: 0 auto;
  max-width: rem(1200);
  overflow: hidden;
  padding: rem(15);
}

.header-brand {
  display: block;
  text-align: center;

  @media screen and (min-width: $tablet) {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
}

.header-nav {
  display: block;
  text-align: center;

  @media screen and (min-width: $tablet) {
    display: inline-block;
    margin-left: rem(30);
    vertical-align: middle;
  }
}

.header-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-nav li {
  @extend %inline-middle-block;
  margin-left: rem(30);

  &:first-child {
    margin-left: 0;
  }
}

.header-support {
  display: block;
  margin-top: rem(15);

  @media screen and (min-width: $tablet) {
    display: none;
  }

  @media screen and (min-width: $notebook) {
    display: inline-block;
    margin-left: rem(30);
    margin-top: 0;
    vertical-align: middle;
  }
}

.header-github {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 5;

  @media screen and (min-width: $tablet) {
    display: block;
  }
}

.header-github-image {
  display: block;
  height: rem(149);
  width: rem(149);
}
