// *************************************
//
//   Community
//   -> base module for community page
//
// *************************************

// -------------------------------------
//   Scaffold
// -------------------------------------

$scaffold: '.community';

#{$scaffold} {
  text-align: center;

  @media screen and (min-width: $tablet) {
    text-align: left;
  }
}

// -------------------------------------
//   Header
// -------------------------------------

$header: '.community-header';

#{$header}-title {
  color: $post-title-color;
  font-size: 2.1em;
  font-weight: bold;
  margin: 0;
}

#{$header}-description {
  font-weight: 400;
  line-height: 1.5;
  margin-top: 5px;

  strong {
    color: $post-title-color;
  }
}

// -------------------------------------
//   List
// -------------------------------------

$list: '.community-list';
$picture-width: 165px;

#{$list} {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    border-top: #E6E5E6 1px solid;
    padding-top: 35px;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: $tablet) {
      flex-direction: row;
      align-items: flex-start;
    }
  }
}

#{$list}-picture {
  margin-bottom: 15px;
  display: block;
  width: $picture-width;

  @media screen and (min-width: $tablet) {
    margin: 0;
  }
}

#{$list}-description {
  @media screen and (min-width: $tablet) {
    margin-left: 30px;
    overflow: hidden;
  }
}

#{$list}-title {
  color: $post-title-color;
  font-size: 21px;
  margin: 0 0 7px;
}

#{$list}-text {
  margin: 0 0 10px;
  font-size: 16px;
}

#{$list}-link {
  margin-top: 5px;
}
