.episode {
  border-top: #E6E5E6 1px solid;
  margin-top: $app-default-margin;
  padding-top: $app-default-margin;

  &:first-child {
    border-top: 0;
    margin-top: 0;
  }
}

.episode-holder,
.episode-link,
.episode-description {
  overflow: hidden;
}

.episode-artwork {
  margin-bottom: 10px;
  width: 100%;

  @media screen and (min-width: $tablet) {
    float: left;
    margin: 0 20px 0 0;
    width: 100px;
    height: 100px;
  }
}

.episode-link {
  display: block;
  text-decoration: none;

  &:hover,
  &:focus {
    .episode-title {
      text-decoration: underline;
    }
  }
}

.episode__number {
  border-radius: $base-radius;
  background: #eee;
  color: #666;
  display: inline-block;
  font-size: 12px;
  padding: 4px 6px;
  margin: 0 0 5px;
}

.episode-title {
  color: #29292C;
  font-size: 22px;
  margin: 0 0 5px;
  font-family: $rubik-font;
  font-weight: 500;
}

.episode-description {
  color: #444;
  margin: 0;
  height: 41px;
  position: relative;
  line-height: 1.4;
}
