.episode {
  border-top: #E6E5E6 1px solid;
  margin-top: $app-default-margin;
  padding-top: $app-default-margin;

  &:first-child {
    border-top: 0;
    margin-top: 0;
  }
}

.episode-holder,
.episode-link,
.episode-description {
  overflow: hidden;
}

.episode-artwork {
  display: none;
  float: left;
  margin-right: 10px;
  width: 50px;
  height: 50px;

  @media screen and (min-width: $mobile) {
    display: block;
  }
}

.episode-link {
  display: block;
  text-decoration: none;
}

.episode__number {
  margin: 0 0 5px;
}

.episode-title {
  color: #29292C;
  font-size: 20px;
  margin: 0 0 10px;
  font-family: $rubik-font;
  font-weight: 500;
}

.episode-description {
  display: none;
  margin: 0;
  height: 40px;
  position: relative;

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    opacity: .6;
    background-color: #FAFBFD;
    content: "";
  }

  @media screen and (min-width: $mobile) {
    display: block;
  }
}
