// *************************************
//
//   Episodes
//   ->
//
// *************************************

.episodes {
  max-width: rem(710);
  margin: 0 auto;

  .episode {
    border-top: rgba(228, 229, 233, 0.96) 1px solid;
    margin-top: rem(30);
    padding-top: rem(30);

    &:first-child {
      border-top: 0;
    }
  }
}
