// *************************************
//
//   Form
//   -> base module for community page
//
// *************************************

// -------------------------------------
//   Scaffold
// -------------------------------------

$scaffold: '.form';

#{$scaffold} {
  margin-top: 30px;
}

// -------------------------------------
//   Input Wrap
// -------------------------------------

.input-wrap {
  margin-top: 15px;
}

// -------------------------------------
//   Input Label
// -------------------------------------

.input-label {
  display: block;
  font-weight: bold;
}

// -------------------------------------
//   Input
// -------------------------------------

.input {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding: 10px 15px;
}

// -------------------------------------
//   Textarea
// -------------------------------------

.textarea {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding: 10px 15px;
  min-height: 100px;
}

// -------------------------------------
//   Form Submit
// -------------------------------------

.form-submit {
  cursor: pointer;
}

// -------------------------------------
//   Form Select
// -------------------------------------

.select {
  display: block;
  width: 104.8%;
  margin-top: 5px;
  padding: 10px 15px;
  background-color: white;
}
