// *************************************
//
//   Partners
//   ->
//
// *************************************

.partners {
  border-bottom: $footerColor 1px solid;
  padding: rem(30) 0;
  text-align: center;
}

.partners-title {
  font-size: rem(14);
}

.partners-list {
  list-style: none;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 30px;

  li {
    display: inline-block;
    margin-left: rem(15);
    vertical-align: middle;

    &:first-child {
      display: block;
      margin-bottom: rem(10);
      margin-left: 0;
    }
  }
}

.partners-link {
  display: block;

  img {
    max-height: 30px;
  }
}
