// *************************************
//
//   Post Participants{}
//
// *************************************

.post-participants ul {
  @include clearfix;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

.post-participants li {
  box-sizing: border-box;
  float: left;
  width: 100%;

  @media screen and (min-width: $mobile) {
    width: 50%;
  }
}

.post-participants img {
  border-radius: 50%;
  float: left;
  height: 50px;
  margin-right: rem(15);
  object-fit: cover;
}

.post-participants h3 {
  margin: 0;
}
