// *************************************
//
//   Post Youtube
//
// *************************************

.post-youtube,
.post-cast__content .post-youtube {
  margin-top: 60px;
  padding: 20px 8px 8px 8px;
  background: #29292C;
}

.post-youtube-title {
  color: #fff;
  font-size: 18px;
  line-height: 1.4;
  margin: 0 0 20px;
  text-align: center;
  padding: 0 20px;

  @media screen and (min-width: $tablet) {
    font-size: 28px;
  }
}

.v-wrapper {
  height: 0;
  padding-bottom: 56.25%; /* 16:9 */
  position: relative;
}

.v-iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
