.post-support {
  .highlight {
    color: $primary-color;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .btn {
    display: block;
    max-width: 300px;
  }
}
