.post-links {
  background-color: $primary-color;
  color: $ligten;
  display: inline-block;
  font-weight: bold;
  margin: 5px 0;
  padding: 0 5px;
  transition: all .2s ease-in-out;

  &:hover {
    background-color: transparent;
    color: $primary-color;
  }
}
