.post-participants {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    color: $link-color;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
