/////////////////////////////////
// name: Quick Access
////////////////////////////////

.search-form {
  position: relative;
  display: block;
  margin: 30px auto 0;

  input {
    font-size: 16px;
    background-color: $ligten;
    border: $neutral 1px solid;
    height: 40px;
    outline: $neutral;
    width: calc(100% - 15px);
    padding-left: 15px;
  }

  i {
    position: absolute;
    z-index: 9999;
    right: 15px;
    top: 13px;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    display: block;
    padding: 15px;

    &:hover {
      font-weight: bold;
      background-color: #eee;
    }
  }
}
