/////////////////////////////////
// name: Quick Access
////////////////////////////////

.search-form {
  position: relative;
  display: block;
  margin: 30px auto 0;

  input {
    font-size: 16px;
    outline: $neutral;
    width: 100%;
    padding-left: 15px;
  }

  i {
    position: absolute;
    z-index: 9999;
    right: 15px;
    top: 12px;
    cursor: pointer;
  }

  a {
    color: #29292C;
    font-family: "Rubik", sans-serif;
    text-decoration: none;
    display: block;
    padding: 15px;
    transition: .2s ease;

    &:hover {
      color: #fff;
      background-color: #263c4c;
    }
  }
}
