/////////////////////////////////
// name: Quick Access
////////////////////////////////

#search-form {
  position: relative;
  display: block;
  max-width: 710px;
  margin: 30px auto 0;
}

#search-input {
  padding-left: 10px;
}

#search-icon {
  position: absolute;
  z-index: 9999;
  right: 15px;
  top: 13px;
  cursor: pointer;
}

#search-input {
  font-size: 16px;
  background-color: $ligten;
  border: $neutral 1px solid;
  height: 40px;
  outline: $neutral;
  width: 100%;
}
