.search-list {
  background-color: #fff;
  position: absolute;
  z-index: 9999;
  box-shadow: 2px 6px 20px 0 rgba(0,0,0,.2);
  border-radius: $base-radius;
  padding: 0;
  margin: 5px 0 0;
  width: 100%;
  left: 0;
  list-style: none;
  overflow: hidden;

  .entry-date {
    font-size: 12px;
  }
}

.search-results {
  .no-results {
    padding: 15px;
  }
}
