.search-list {
  background-color: #fff;
  position: absolute;
  z-index: 9999;
  box-shadow: 2px 6px 20px 0 #333;
  padding-left: 15px;
  margin-top: 0px;
  width: 100%;
  padding-bottom: 10px;
  left: 0;

  .entry-date {
    font-size: 12px;
    color: #999;
  }

  li {
    list-style: none;
    padding: 3px 0;
  }
}

.search-results {
  &:empty {
    display: none;
  }
  h4 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
