html {
  font-size: 16px;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
  color: #707070;
  font-family: $roboto-font;
  text-rendering: optimizeLegibility;
	margin: 0;
	padding: 0;
}

.image-block {
  display: block;
  width: 100%;

  @media screen and (min-width: $tablet) {
    width: auto;
  }
}

.image-adap {
  display: block;
  max-width: 100%;

  @media screen and (min-width: $tablet) {
    width: auto;
  }
}

.main {
  background-color: #FAFBFD;
  padding-top: $app-default-margin;
  padding-bottom: $app-default-margin;
}

.container {
  margin: 0 auto;
  max-width: $app-max-width;
 
  @media screen and (max-width: $notebook) {
    padding: 0 $app-default-margin;
  }
}

.page__title {
  margin-top: 0;
}
