html {
  font-size: 16px;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
  color: #000;
  font-family: $roboto-font;
  text-rendering: optimizeLegibility;
  font-weight: 400;
	margin: 0;
	padding: 0;
}

a {
  color: #000;
}

.image-block {
  display: block;
  width: 100%;

  @media screen and (min-width: $tablet) {
    width: auto;
  }
}

.image-adap {
  display: block;
  max-width: 100%;

  @media screen and (min-width: $tablet) {
    width: auto;
  }
}

.main {
  background-color: #FAFBFD;
  padding-top: $app-default-margin;
  padding-bottom: $app-default-margin*2;
}

.container {
  margin: 0 auto;
  max-width: $app-max-width;

  @media screen and (max-width: $notebook) {
    padding: 0 $app-default-margin;
  }
}

.page {
  max-width: 700px;
  margin: 0 auto;
  color: $text-color;
  font-weight: 400;
  line-height: 1.5;
}

.page__title {
  margin-top: 0;
  margin-bottom: 15px;
  color: #263c4c;
  font-size: 26px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;

  @media screen and (min-width: $tablet) {
    font-size: 32px;
  }
}
