// page
.store-subtitle {
  margin: 0;
}

.page-store-call {
  margin-top: 30px;
}

// component
.component-store {
  margin-top: 30px;

  &:first-child {
    margin-top: 0;
  }
}

// Module
.product-collection {
  overflow: hidden;

  .product-item {
    float: left;
    margin-top: 15px;
    width: 50%;

    @media screen and (min-width: $tablet) {
      width: 33%;
    }
  }
}

.product-item-holder {
  padding: 0 10px;
}

.product-image {
  border: $darken 2px solid;
  overflow: hidden;
  position: relative;

  img {
    display: block;
    width: 100%;
  }

  &:hover {
    .product-caption {
      bottom: 0;
      max-height: 200px;
    }
  }
}

.product-caption {
  @include transition(all .2s ease-in);
  background-color: $darken;
  bottom: -20%;
  left: 0;
  max-height: 1px;
  position: absolute;
  text-align: center;
  width: 100%;

  .subtitle {
    color: $ligten;
    font-size: 14px;
    margin: 0;
    padding: 5px;

    @media screen and (min-width: $tablet) {
      font-size: 20px;
    }
  }
}

.product-size {
  background-color: $darken;
  color: white;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  padding: 5px 0;
  text-align: center;
  width: 100%;
}

.product-price {
  margin-bottom: 0;
  margin-top: 15px;
  text-align: center;
}

.product-button {
  margin-top: 15px;
  text-align: center;
}
