.post-cast__header__meta {
  color: $post-meta-color;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1;
  text-transform: uppercase;

  .fa {
    margin-left: 10px;
  }
}

.post-cast__header__title {
  color: $post-title-color;
  font-size: 1em;
  font-weight: bold;
  margin-top: 5px;

  @media screen and (min-width: $mobile) {
    font-size: 1.5em;
  }

  @media screen and (min-width: $tablet) {
    font-size: 2.1em;
  }

  .fa {
    font-size: 14px;
  }

  &:after {
    background-color: $post-hr-color;
    content: "";
    display: block;
    height: 3px;
    margin: 25px 0;
    width: 25px;
  }
}

.post-cast__content {

  p {
    color: $link-color;
    font-weight: 400;
    line-height: 1.5;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      font-size: rem(15);
      margin-top: rem(5);

      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.post-cast__content .post-participants,
.post-cast__content .post-support {
  margin-top: rem(30);
}

.disqus-comments {
  margin-top: 60px;
}
