.post-cast__header__meta {
  color: $post-meta-color;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1;
  text-transform: uppercase;

  .fa {
    margin-left: 10px;
  }
}

.post-cast__header__title {
  color: $post-title-color;
  font-weight: bold;
  font-size: 1em;
  margin-top: 5px;

  @media screen and (min-width: $mobile) {
    font-size: 1.5em;
  }

  @media screen and (min-width: $tablet) {
    font-size: 2.1em;
  }

  .fa {
    font-size: 14px;
  }

  &:after {
    content: "";
    display: block;
    width: 25px;
    height: 3px;
    background-color: $post-hr-color;
    margin: 25px 0;
  }
}

.post-cast__content {

  p {
    color: $link-color;
    line-height: 1.5;
    font-weight: 400;
  }
}

.post-cast__content .post-links {
  margin-top: rem(60);
}

.post-cast__content__audio {
  margin-bottom: rem(60);
}

.post-social {
  margin: 30px 0;

  &:before {
    content: "";
    display: block;
    width: 25px;
    height: 3px;
    background-color: $post-hr-color;
    margin: 25px 0;
  }
}

.post-social__title {
  color: $post-title-color;
  font-weight: bold;
  font-size: 1em;
}

.disqus-comments {
  margin-top: 60px;
}