// *************************************
//
//   Episode
//   ->
//
// *************************************

.episode-date {
  font-size: rem(14);
  color: #bbb;
  margin: 0 0 rem(10);
}

.episode-holder,
.episode-link,
.episode-description {
  overflow: hidden;
}

.episode-artwork {
  float: left;
  margin-right: rem(10);
}

.episode-link {
  display: block;
  text-decoration: none;
}

.episode-type {
  font-weight: bold;
}

.episode-title {
  color: $primary-color;
  font-size: rem(22);
  margin: 0 0 rem(10);
}

.episode-description {
  margin: 0;
  font-size: rem(16);
}
