// *************************************
//
//   Form
//   -> base module for community page
//
// *************************************

// -------------------------------------
//   Scaffold
// -------------------------------------

$scaffold: '.form';

#{$scaffold} {
  margin-top: rem(30);
}

// -------------------------------------
//   Input Wrap
// -------------------------------------

.input-wrap {
  margin-top: rem(15);
}

// -------------------------------------
//   Input Label
// -------------------------------------

.input-label {
  display: block;
  font-weight: bold;
}

// -------------------------------------
//   Input
// -------------------------------------

.input {
  display: block;
  width: 100%;
  margin-top: rem(5);
  padding: rem(10) rem(15);
}

// -------------------------------------
//   Textarea
// -------------------------------------

.textarea {
  display: block;
  width: 100%;
  margin-top: rem(5);
  padding: rem(10) rem(15);
  min-height: rem(100);
}

// -------------------------------------
//   Form Submit
// -------------------------------------

.form-submit {
  cursor: pointer;
}
