// *************************************
//
//   Partners
//   -> 
//
// *************************************

.partners {
  margin-top: rem(60);
  padding: rem(30);
  text-align: center;
}

.partners-title {
  font-size: rem(18);
  margin-bottom: rem(30);
  margin-top: 0;
}

.partners-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    @extend %inline-middle-block;
    margin-left: rem(15);

    &:first-child {
      margin-left: 0;
    }
  }
}

.partners-link {
  display: block;

  &:hover,
  &:active,
  &:focus {
    img {
      @include transition(all .3s ease-in-out);
      opacity: .5;
    }
  }
}
