// *************************************
//
//   Post Support
//
// *************************************

.post-support {
  .highlight {
    background-color: $primary-color;
    color: $ligten;
    font-weight: bold;
    padding: rem(2) rem(5);
  }

  .btn {
    display: block;
    max-width: rem(300);
  }
}
