// *************************************
//
//   Post Participants{}
//
// *************************************

.post-participants {
  padding: rem(25) 0 0;
}

.post-participants-title {
  font-size: rem(32);
  margin-top: 0;
}

.post-participants ul {
  @include clearfix;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

.post-participants li {
  box-sizing: border-box;
  float: left;
  padding: 0 0 rem(25);
  width: 100%;

  @media screen and (min-width: $mobile) {
    width: 50%;
  }

  @media screen and (min-width: $tablet) {
    width: 33.333%;
  }

  @media screen and (min-width: $notebook) {
    width: 25%;
  }
}

.post-participants img {
  border-radius: 50%;
  float: left;
  height: 50px;
  margin-right: rem(15);
  object-fit: cover;
}

.post-participants h3 {
  margin: 0;
}
