/////////////////////////////////
// name:    Post Links Sponsors
// extend:  Post Links
////////////////////////////////

.post-links-link {
  &.twitter {
    background-color: $twitter;
    font-style: italic;
    font-weight: normal;
  }

  &:hover {
    background-color: transparent;
    color: $twitter;
  }
}
