//////////////////////
// name: Post Links
//////////////////////

.post-links {
  border: $neutral 1px dotted;
  padding: rem(25);
}

.post-links-title {
  margin-top: 0;
  font-size: rem(32);
}

.post-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.post-links li {
  margin-top: 15px;

  &:first-child {
    margin-top: 0;
  }
}

.post-links-link {
  @include transition(all .2s ease-in-out);
  background-color: $primary-color;
  color: $ligten;
  display: inline-block;
  font-weight: bold;
  padding: 0 5px;

  &:hover {
    background-color: transparent;
    color: $primary-color;
  }
}