/////////////////////////////////
// name:    Post Links Participants
// extend:  Post Links
////////////////////////////////

.post-links {
  @include transition(all .2s ease-in-out);
  background-color: $primary-color;
  color: $ligten;
  display: inline-block;
  font-weight: bold;
  padding: 0 5px;
  margin: 5px 0;

  &:hover {
    background-color: transparent;
    color: $primary-color;
  }
}

.post-links.contratado {
  background-color: $contratadome;

  &:hover {
    background-color: transparent;
    color: $contratadome;
  }
}

.post-links.vanhack {
  background-color: $vanhack;

  &:hover {
    background-color: transparent;
    color: $vanhack;
  }
}

.post-links.alura {
  background-color: $alura;

  &:hover {
    background-color: transparent;
    color: $alura;
  }
}

.post-links.bluesoft {
  background-color: $bluesoft;

  &:hover {
    background-color: transparent;
    color: $bluesoft;
  }
}

.post-links.stickersdevs {
  background-color: $stickersdevs;

  &:hover {
    background-color: transparent;
    color: $stickersdevs;
  }
}

.post-links.magnetis {
  background-color: $magnetis;

  &:hover {
    background-color: transparent;
    color: $magnetis;
  }
}

.post-links.twitter {
  background-color: $twitter;

  &:hover {
    background-color: transparent;
    color: $twitter;
  }
}
