/////////////////////////////////
// name: Quick Access
////////////////////////////////

.quick-access {
  padding: rem(15);
  margin-bottom: rem(30);
  border-bottom: $footerColor 1px solid;
}

.quick-access-title {
  font-size: rem(16);
  display: inline-block;
  vertical-align: middle;
  width: rem(120);
}

.filter-form {
  display: inline-block;
}

.filter-select {
  font-size: rem(16);
  background-color: $ligten;
  border: $neutral 1px solid;
  height: 40px;
  outline: $neutral;
  width: 100%;

  @media screen and (min-width: $tablet) {
    width: 300px;
  }
}

.filter-btn {
  display: inline-block;
  margin-top: rem(15);

  @media screen and (min-width: $tablet) {
    margin-top: 0;
    margin-left: rem(15);
  }
}
