<footer>
	<div class="container">	
		<a class="profile" href="https://twitter.com/femontanha">
			<figure class="profile__image profile__image--femontanha"></figure>
			<div class="profile__info">
				<span class="profile__name">Fellipe Azambuja @femontanha</span>
				<span class="profile__role">Host & Front-end Developer</span>
			</div>
		</a>
		<a class="profile" href="https://twitter.com/raymonsanches">
			<figure class="profile__image profile__image--raymon"></figure>
			<div class="profile__info">
				<span class="profile__name">Ramon Sanches @raymonsanches</span>
				<span class="profile__role">Co-Host & Senior PHP Developer</span>
			</div>
		</a>
		<a class="profile" href="https://twitter.com/eduardojmatos">
			<figure class="profile__image profile__image--edu"></figure>
			<div class="profile__info">
				<span class="profile__name">Eduardo Matos @eduardojmatos</span>
				<span class="profile__role">FullStack Developer</span>		
			</div>
		</a>
	</div>
</footer>
