<footer>
	<div class="container">
		<a class="profile" href="https://twitter.com/raymonsanches" target="_blank">
			<figure class="profile__image profile__image--raymon"></figure>
			<div class="profile__info">
				<span class="profile__name">Ramon Sanches</span>
				<span class="profile__role">Co-Host</span>
				<span class="profile__twitter">@raymonsanches</span>
			</div>
		</a>
		<a class="profile" href="https://twitter.com/eduardojmatos" target="_blank">
			<figure class="profile__image profile__image--edu"></figure>
			<div class="profile__info">
				<span class="profile__name">Eduardo Matos</span>
				<span class="profile__role">Co-Host</span>
				<span class="profile__twitter">@eduardojmatos</span>
			</div>
		</a>
		<a class="profile" href="https://twitter.com/warantesbr" target="_blank">
			<figure class="profile__image profile__image--will"></figure>
			<div class="profile__info">
				<span class="profile__name">Willian Arantes</span>
				<span class="profile__role">Co-Host</span>
				<span class="profile__twitter">@warantesbr</span>
			</div>
		</a>
	</div>
</footer>