<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} | Podcast sobre desenvolvimento front-end &amp; back-end</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="index, follow">
  <meta name="keywords" content="frontend, front-end, backend, back-end, desenvolvimento, programação, podcast, cast, entrevista, episodio, devnaestrada, femontanha, ramon sanches, raymonsanches"/>

  {% if site.facebook_meta %}
  <meta property="og:locale" content="pt_BR" />
  <meta property="og:site_name" content="{{ site.title }}" />
  {% if page.lybsyn-id %}
  <meta property="og:url" content="{{ page.url | prepend: site.url }}" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:description" content="{{ page.description }}" />
  {% if page.soundcloud-post-image %}
  <meta property="og:image" content="https://assets.libsyn.com/secure/show/104268/artworks-{{ page.soundcloud-post-image }}-original.jpg" />
  {% endif %}
  {% if page.libsyn-image %}
  <meta property="og:image" content="https://assets.libsyn.com/secure/show/104268/{{ page.libsyn-image }}" />
  {% endif %}
  <meta property="og:type" content="article">
  <meta property="article:author" content="DevNaEstrada">
  <meta property="article:section" content="Podcast" />
  <meta property="article:tag" content="Podcast, desenvolvimento web, front-end, back-end" />
  {% else if %}
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ site.url }}" />
  <meta property="og:title" content="{{ site.title }}" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta property="og:image" content="{{ site.dne_capa }}" />
  {% endif %}
  <meta property="og:image:type" content="image/jpeg" />
  <meta property="og:image:width" content="300" />
  <meta property="og:image:height" content="300" />
  {% endif %}

  <link rel="publisher" href="https://plus.google.com/+DevnaestradaBrazil/">
  <link rel="stylesheet" href="{{ "assets/css/main.css" | prepend: site.baseurl }}">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700|Rubik:400,500" rel="stylesheet">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <!--Favicon-->
  <link rel="shortcut icon" href="{{ "assets/img/favicon/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="57x57" href="{{ "assets/img/favicon/apple-icon-57x57.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ "assets/img/favicon/apple-icon-60x60.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ "assets/img/favicon/apple-icon-72x72.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ "assets/img/favicon/apple-icon-76x76.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ "assets/img/favicon/apple-icon-114x114.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ "assets/img/favicon/apple-icon-120x120.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ "assets/img/favicon/apple-icon-144x144.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ "assets/img/favicon/apple-icon-152x152.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "assets/img/favicon/apple-icon-180x180.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="192x192" href="{{ "assets/img/favicon/android-icon-192x192.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "assets/img/favicon/favicon-32x32.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ "assets/img/favicon/favicon-96x96.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "assets/img/favicon/favicon-16x16.png" | prepend: site.baseurl }}">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#3CD52E">
  <meta name="msapplication-TileImage" content="{{ "assets/img/favicon/ms-icon-144x144.png" | prepend: site.baseurl }}">
  <meta name="theme-color" content="#3CD52E">

  <!-- Google Analytics -->
  {% if site.google_analytics %}
    {% include vendor/ga.html %}
  {% endif %}
</head>
