<header>
	<a href="/" class="header-brand">
		<img src="{{ "public/assets/img/devnaestrada-woman.png" | prepend: site.baseurl }}" alt="DEVNAESTRADA logo" />
	</a>
	<nav class="header-nav">
		<ul>
			<li>
				<a href="{{ "sobre" | prepend: site.baseurl }}" class="header-nav-link">Sobre</a>
			</li>
			<li>
				<a href="{{ "comunidades" | prepend: site.baseurl }}" class="header-nav-link">Comunidades</a>
			</li>
			<li class="header-nav-btn-wrap">
				<a href="http://bit.ly/dne-apoiase" class="header-nav-link btn" target="_blank">Apoiar pelo Apoia.se</a>
			</li>
			<li class="header-nav-btn-wrap">
				<a href="http://bit.ly/dne-padrim" class="header-nav-link btn" target="_blank">Apoiar pelo Padrim</a>
			</li>
		</ul>
	</nav>
	<a href="http://bit.ly/dne-github" class="header-github" target="_blank">
		<img class="header-github-image" src="{{ "public/assets/img/fork-me.png" | prepend: site.baseurl }}" alt="Fork me on Github" />
	</a>
</header>
