<header>
	<a href="/" class="header-brand">
		<img src="{{ "public/assets/img/devnaestrada-lg.png" | prepend: site.baseurl }}" alt="DEVNAESTRADA logo" />
	</a>

	<label for="nav-btn" class="fa fa-bars nav-label" aria-hidden="true"></label>
	<input id="nav-btn" class="nav-btn" type="checkbox">

	<nav class="header-nav">
		<ul>
			<li>
				<a href="{{ "comunidades" | prepend: site.baseurl }}" class="header-nav-link btn">Comunidades</a>
			</li>
			<li>
				<a href="{{ "contato" | prepend: site.baseurl }}" class="header-nav-link btn">Contato</a>
			</li>
			<li>
				<a href="http://bit.ly/dne-apoiase" class="header-nav-link btn header-nav-link--apoiase" target="_blank">Apoia.se/DEVNAESTRADA</a>
			</li>
		</ul>
	</nav>
</header>
