<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="N9XWtKIGUTN-l2ozQVBkEz6zhjot-81MGAyxVFD_CDk" />

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} | Podcast sobre desenvolvimento front-end &amp; back-end</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta name="robots" content="index, follow">
  <meta name="keywords" content="frontend, front-end, backend, back-end, desenvolvimento, programação, podcast, cast, devnaestrada, femontanha, ramon sanches"/>

  {% if site.facebook_meta and page.author %}
  <meta property="og:locale" content="pt_BR">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:url" content="{{ page.url | prepend: site.url }}">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:image" content="http://i1.sndcdn.com/artworks-{{ page.soundcloud-post-image }}-original.jpg">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="800">
  <meta property="og:image:height" content="600">
  {% endif %}

  <link rel="publisher" href="https://plus.google.com/+DevnaestradaBrazil/">
  <link rel="stylesheet" href="{{ "css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <!--Favicon-->
  <link rel="shortcut icon" href="{{ "public/assets/img/favicon/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="57x57" href="{{ "public/assets/img/favicon/apple-icon-57x57.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ "public/assets/img/favicon/apple-icon-60x60.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ "public/assets/img/favicon/apple-icon-72x72.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ "public/assets/img/favicon/apple-icon-76x76.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ "public/assets/img/favicon/apple-icon-114x114.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ "public/assets/img/favicon/apple-icon-120x120.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ "public/assets/img/favicon/apple-icon-144x144.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ "public/assets/img/favicon/apple-icon-152x152.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "public/assets/img/favicon/apple-icon-180x180.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="192x192" href="{{ "public/assets/img/favicon/android-icon-192x192.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "public/assets/img/favicon/favicon-32x32.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ "public/assets/img/favicon/favicon-96x96.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "public/assets/img/favicon/favicon-16x16.png" | prepend: site.baseurl }}">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{{ "public/assets/img/favicon/ms-icon-144x144.png" | prepend: site.baseurl }}">
  <meta name="theme-color" content="#ffffff">

  <!-- Google Analytics -->
  {% if site.google_analytics %}
    {% include vendor/ga.html %}
  {% endif %}

  <script type="text/javascript" src="//use.typekit.net/omp7orf.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
