.site-header {
  text-align: center;

  @include media($notebook) {
		background-image: url(../img/dne-header-bg.png);
  	background-repeat: repeat-x;
  	background-position: center;
  	height: 150px;
	}
}

.site-logo {
	text-decoration: none;
	color: #303030;
	display: inline-block;
}

.site-logo__image {
  background-image: url('../img/dne-app-logo.png');
  background-size: contain;
	border-radius: 5px;
	display: block;
	height: 96px;
	margin: 0 auto;
	width: 96px;

	@include media($notebook) {
		background-image: url('../img/dne-header-logo.png');
		height: 61px;
		width: 734px;
	}
}

.site-logo__title {
	margin-top: 15px;
	margin-bottom: 0;
	font-weight: normal;
	font-size: 24px;
	font-family: Helvetica, sans-serif;

	@include media($tablet) {
		font-size: 28px;
	}

	@include media($notebook) {
		display: none;
	}
}
