/////////////////////////////////
// name: Cover Photo
////////////////////////////////

.coverphoto {
  @include align-items(center);
  @include display(flex);
  @include justify-content(center);
  @include animation(coverphoto 50s linear infinite);
  background: {
    color: $darken;
    image: url(../public/assets/img/pattern-px.png);
    position: left bottom;
    repeat: repeat;
  };
  max-height: rem(100);
  max-width: 100%;
  padding: rem(20);
  text-align: center;

  @media screen and (min-width: $tablet) {
    height: 180px;
    padding: 0;
  }
}

.coverphoto-title {
  color: $ligten;
  font-size: rem(18);
  font-weight: 600;
  margin: 0 auto;
  max-width: rem(600);

  @media screen and (min-width: $tablet) {
    font-size: rem(24);
  }
}
