.coverphoto {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background: {
    color: #29292C;
    image: url(../img/cover-photo.jpg);
    position: center center;
    repeat: repeat;
  };
  height: 260px;
}

.coverphoto__wrap {
  max-width: 480px;
}

.coverphoto_image {
  width: 65px;
  margin-bottom: $app-default-margin;
}

.coverphoto__title {
  color: #FFF;
  font-size: 26px;
  margin: 0 0 5px;
  font-family: $rubik-font;
  font-weight: 500;
}

.coverphoto__desc {
  color: #FFF;
  margin: 0;
}