footer {
  background-color: #29292C;
  padding-top: $app-default-margin;
  padding-bottom: $app-default-margin;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @media screen and (min-width: $tablet) {
      flex-direction: row;
    }
  }
}

.profile {
  display: flex;
  text-decoration: none;
  margin-top: $app-default-margin;
  min-width: 300px;

  &:first-child {
    margin-top: 0;
  }

  @media screen and (min-width: $tablet) {
    margin-top: 0;
  }
}

.profile__image {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 50px;
  height: 50px;
  margin: 0;

  &.profile__image--femontanha {
    background-image: url('https://pbs.twimg.com/profile_images/975510563202785287/sjFjIUCW.jpg');
  }

  &.profile__image--raymon {
    background-image: url('https://pbs.twimg.com/profile_images/815923259422244864/EZs8WgQ3.jpg');
  }

  &.profile__image--edu {
    background-image: url('https://pbs.twimg.com/profile_images/807681794296475648/w0uI1vj__400x400.jpg');
  }

  &.profile__image--dne {
    background-image: url('https://pbs.twimg.com/profile_images/813891596651360257/FWgT12Dn_400x400.jpg');
  }
}

.profile__info {
  margin-left: 10px;
}

.profile__name {
  display: block;
  color: #FFF;
  font-family: $rubik-font;
  font-weight: 400;
  font-size: 14px;
}

.profile__role {
  color: $profile-role-color;
  display: block;
  font-size: 11px;
  color: #FFF;
}
