footer {
  background-color: #29292C;
  padding-top: $app-default-margin;
  padding-bottom: $app-default-margin;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @media screen and (min-width: $tablet) {
      flex-direction: row;
    }
  }
}

.profile {
  display: flex;
  text-decoration: none;
  margin-top: $app-default-margin;

  min-width: 260px;

  transition: .3s ease;

  &:first-child {
    margin-top: 0;
  }

  &:hover {
    transform: translateY(-3px);
  }

  @media screen and (min-width: $tablet) {
    margin-top: 0;
    min-width: auto;
  }
}

.profile__image {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 50px;
  height: 50px;
  margin: 0;
  filter: grayscale(100%);

  &.profile__image--raymon {
    background-image: url('https://pbs.twimg.com/profile_images/1021904162928427010/zYx0p4QW_400x400.jpg');
  }

  &.profile__image--edu {
    background-image: url('https://pbs.twimg.com/profile_images/1043111505787539457/gzNp6Y2V_400x400.jpg');
  }

  &.profile__image--dne {
    background-image: url('https://pbs.twimg.com/profile_images/984616273630941186/qKd10AiN_400x400.jpg');
  }
}

.profile__info {
  margin-left: 10px;
}

.profile__name {
  display: block;
  color: #FFF;
  font-family: $rubik-font;
  font-weight: 500;
  font-size: 16px;
}

.profile__twitter {
  color: #999;
  font-size: 12px;
}

.profile__role {
  color: $profile-role-color;
  display: block;
  font-size: 12px;
  color: #FFF;
}
