header {
  margin: 0 auto;
  max-width: $app-max-width;
  padding: 30px 0;
  position: relative;

  @media screen and (min-width: $tablet) {
    padding-left: $app-default-margin;
    padding-right: $app-default-margin;
  }
}

.header-brand {
  display: block;
  text-align: center;

  img {
    width: 250px;
  }

  @media screen and (min-width: $tablet) {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
}

.nav-label {
  cursor: pointer;
  font-size: 28px;
  position: absolute;
  right: 15px;
  top: 39px;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.nav-btn {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  visibility: hidden;

  &:checked + .header-nav {
    display: block;
    max-height: 9999px;

    @media screen and (min-width: $tablet) {
      display: inline-block;
    }
  }
}

.header-nav {
  max-height: 0;
  overflow: hidden;
  text-align: center;

  @media screen and (min-width: $tablet) {
    transform: scaleY(1);
    display: inline-block;
    margin-left: 30px;
    max-height: 9999px;
    vertical-align: middle;
  }
}

.header-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-nav li {
  margin-top: 10px;

  @media screen and (min-width: $tablet) {
    display: inline-block;
    margin-left: $app-default-margin;
    margin-top: 0;
  }

  &:first-child {
    margin-left: 0;
  }
}

.header-nav__link {
  display: block;
  font-size: 14px;
  font-family: $rubik-font;
  font-weight: 400;
  color: #707070;
  text-decoration: none;

  @media screen and (min-width: $tablet) {
    display: inline-block;
  }
}
