// static colors
$ligten: #fff !default;
$darken: #000 !default;
$neutral: gray !default;
$neutral-light: #e2e2e2 !default;

// core colors
$primary-color: #E67E22 !default;

// base colors
$link-color: #21272d !default;
$link-hover-color: $primary-color !default;
$base-text-color: #21272d !default;

// module colors
$heart-color: #e74c3c !default;
$profile-role-color: #848484 !default;
$home-cast-description: $profile-role-color !default;

// post
$post-title-color: #263c4c !default;
$post-meta-color: #848484 !default;
$post-hr-color: #ddd !default;

// sponsors
$contratadome: #323a45 !default;
$vanhack: #0077e0 !default;
$alura: #fdc14a !default;
$stickersdevs: #579fd6 !default;

// participants
$twitter: #00aced !default;

// footer
$footerColor: #ecf0f1 !default;
