// static colors
$ligten: #fff !default;
$darken: #000 !default;

// core colors
$primary-color: #e67e22 !default;

// base colors
$link-color: #21272d !default;
$link-hover-color: $primary-color !default;
$base-text-color: #21272d !default;

// module colors
$heart-color: #e74c3c !default;
$profile-role-color: #848484 !default;
$home-cast-description: $profile-role-color !default;

// post
$post-title-color: #263c4c !default;
$post-meta-color: #848484 !default;
$post-hr-color: #ddd !default;