.post-cast__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  text-align: center;

  &:after {
    background-color: $post-hr-color;
    content: "";
    display: block;
    height: 3px;
    margin: 0;
    width: 25px;
  }

  @media screen and (min-width: $tablet) {
    align-items: flex-start;
  }
}

.post-cast__header__meta {
  color: $post-meta-color;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1;
  text-transform: uppercase;

  .fa {
    margin-left: 10px;
  }
}

.post-cast__header__title {
  color: $post-title-color;
  font-family: "Rubik", sans-serif;
  font-size: 26px;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 20px;

  @media screen and (min-width: $tablet) {
    font-size: 35px;
  }

  .fa {
    font-size: 14px;
  }
}

.post-cast__content {
  color: $text-color;
  font-weight: 400;
  line-height: 1.5;

  h1, h2, h3, h4, h5, h6 {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
  }

  p a {
    color: $link-color;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      + li {
        margin-top: 15px;
      }
    }
  }

  hr {
    margin: 30px 0;
    opacity: .2;
  }

  section + section {
    margin-top: 30px;
  }

  @media screen and (min-width: $tablet) {
    padding: 0 100px;

    .post-cast__content__audio {
      position: relative;
      left: -100px;
      width: calc(100% + 200px);
    }
  }
}

.post-cast__btn-all-episodes {
  margin-top: 30px;

  a {
    display: block;
  }
}

.post-cast__content .post-participants,
.post-cast__content .post-support {
  margin-top: 30px;
}

.disqus-comments {
  margin-top: 60px;
}
