.site-description {
	line-height: 1.5em;
	text-align: center;
	padding: 0 15px;
}

.podcast-delay {
  font-size: rem(22);
  color: #e67e22;
  display: block;
  margin-bottom: rem(30);
  margin-top: rem(30);
  text-align: center;
  font-weight: bold;
}

.links-holder {
  margin-bottom: rem(30);

  h3 {
    color: #444;
    margin: 0;
    font-size: rem(18);
  }

  p {
    margin: 0;
  }
}

.post-list {
	@include outer-container;
  margin: 0;
  padding: 0;
  list-style: none;

	li {
    padding-bottom: rem(30);
    padding-top: rem(30);
    border-top: #ddd 1px solid;

    &:first-child {
      background-color: #eee;
      padding: rem(15);
    }
	}

  .post-link {
    color: #333;
    display: block;
    text-decoration: none;

    h2 {
      @include transition(color .3s ease-in-out);
      font-size: rem(20);
      line-height: rem(26);
      color: #e67e22;
      margin-bottom: 15px;
      margin-top: 15px;
    }

  }

}

.post-meta {
  color: #aaa;
  display: block;
  font-size: 14px;
}

.post-thumb {
  overflow: hidden;
  position: relative;
  width: 100%;

  img {
    width: 100%;
    max-width: rem(500);
  }
}