---
layout: default
---

<div class="post-cast">
  <div class="post-cast__header">
    <span class="post-cast__header__meta">
      {% assign m = page.date | date: "%-m" %}
      {{ page.date | date: "%-d" }} de
      {% case m %}
        {% when '1' %}Janeiro
        {% when '2' %}Fevereiro
        {% when '3' %}Março
        {% when '4' %}Abril
        {% when '5' %}Maio
        {% when '6' %}Junho
        {% when '7' %}Julho
        {% when '8' %}Agosto
        {% when '9' %}Setembro
        {% when '10' %}Outrubro
        {% when '11' %}Novembro
        {% when '12' %}Dezembro
      {% endcase %}
      de {{ page.date | date: "%Y" }}
      <i class="fa fa-calendar-plus-o"></i>
    </span>
    <h1 class="post-cast__header__title">
      {{ page.title }} <i class="fa fa-music"></i>
    </h1>
  </div>

  <div class="post-cast__content">
    <div class="post-cast__content__audio">
      {% include vendor/libsyn.html %}
    </div>
    {{ content }}
  </div>
</div>

{% if page.youtubeCode %}
  {% include modules/youtube.html code=page.youtubeCode %}
{% endif%}

<!-- Disqus -->
{% if site.disqus_shortname %}
  <div class="disqus-comments">
    {% include vendor/disqus.html %}
  </div>
{% endif %}

</div>
