---
layout: default
---

<div class="post-cast">
  <div class="post-cast__header">
    <span class="post-cast__header__meta">
      {% assign m = page.date | date: "%-m" %}
      {{ page.date | date: "%-d" }} de
      {% case m %}
        {% when '1' %}Janeiro
        {% when '2' %}Fevereiro
        {% when '3' %}Março
        {% when '4' %}Abril
        {% when '5' %}Maio
        {% when '6' %}Junho
        {% when '7' %}Julho
        {% when '8' %}Agosto
        {% when '9' %}Setembro
        {% when '10' %}Outubro
        {% when '11' %}Novembro
        {% when '12' %}Dezembro
      {% endcase %}
      de {{ page.date | date: "%Y" }}
    </span>
    <h1 class="post-cast__header__title">
      {{ page.title }}
    </h1>
  </div>

  <div class="post-cast__content">
    <div class="post-cast__content__audio">
      {% include vendor/libsyn.html %}
    </div>
    {% if page.sponsors %}
      <div class="post-sponsors">
        {% for sponsorArray in page.sponsors %}
          {% assign sponsor = site.data.sponsors[sponsorArray] %}
          <a href="{{ sponsor.url }}" class="post-sponsors__link">
              <img class="post-sponsors__img" src="{{ sponsor.img | prepend: site.url }}" alt="{{ sponsor.name }}" />
          </a>
        {% endfor %}
      </div>
    {% endif %}
    {{ content }}
  </div>
</div>

{% if page.youtubeCode %}
  {% include modules/youtube.html code=page.youtubeCode %}
{% endif%}

<!-- Disqus -->
{% if site.disqus_shortname %}
  <div class="disqus-comments">
    {% include vendor/disqus.html %}
  </div>
{% endif %}

</div>
