body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	border-top: 8px solid #e67e22;
	color: #333;
	font-family: "Trebuchet MS", serif;
	font-size: 16px;
	text-rendering: optimizeLegibility;
}

a {
	@include user-select(none);
	color: #e67e22;
	text-decoration: none;
}

p {
	line-height: rem(18);
}

.wrapper {
	@include outer-container;
	padding: rem(15);
}

.site-header {
	padding-top: rem(50);
}