<hr />

DEVNAESTRADA é um podcast voltado para desenvolvedores web, front-end, back-end e entrevistas com pessoas na área

<ul>
  <li>
    <strong>Seja um apoiador:</strong>
    <a href="https://apoia.se/devnaestrada">
      https://apoia.se/devnaestrada
    </a>
  </li>
  <li>
    <strong>Site:</strong>
    <a href="http://www.devnaestrada.com.br">
      http://www.devnaestrada.com.br
    </a>
  </li>
  <li>
    <strong>Github:</strong>
    <a href="https://github.com/devnaestrada/devnaestrada.com.br">
      https://github.com/devnaestrada/devnaestrada.com.br
    </a>
  </li>
  <li>
    <strong>Facebook:</strong>
    <a href="https://github.com/devnaestrada/devnaestrada.com.br">
      https://github.com/devnaestrada/devnaestrada.com.br
    </a>
  </li>
  <li>
    <strong>Twitter:</strong>
    <a href="http://twitter.com/devnaestrada">
      http://twitter.com/devnaestrada
    </a>
  </li>
  <li>
    <strong>Soundcloud:</strong>
    <a href="http://soundcloud.com/devnaestrada">
      http://soundcloud.com/devnaestrada
    </a>
  </li>
</ul>
