<section class="post-links">
  <h2 class="post-links-title">Vamos fazer Network?</h2>
  <ul>
    <li>
      <a href="http://bit.ly/dne-phpeste2016" class="post-links-link" target="_blank">PHPeste</a> é a melhor conferência de PHP organizada pelas comunidades "cabra da peste" no Nordeste Brasileiro. Venha prestigiar esse grande evento que esse ano acontecerá em Salvador (BA).
    </li>
    <li>
      Gosta de PHP? Venha para a maior conferência de Laravel do Brasil o <a href="http://bit.ly/dne-laraconfbrasil" class="post-links-link" target="_blank">LARACONFBRASIL</a> e garanta seu ingresso.
    </li>
    <li>
      Venha para o <a href="http://bit.ly/dne-wordcamprj" class="post-links-link" target="_blank">WordCamp</a>, é um evento com alcance internacional e oficial do WordPres; Feito por voluntários e abrange Front-End, Back-End, Conteúdo e Marketing. 
    </li>
  </ul>
</section>