<section>
  <h2>Eventos Próximos</h2>
  <ul>
    <li>
      <a href="http://reactconfbr.com.br/" class="post-links-link" target="_blank">
        ReactConfBR
      </a>
    </li>
    <li>
      <a href="http://eventos.locaweb.com.br/proximos-eventos/php-community-summit-by-locaweb/" class="post-links-link" target="_blank">
        PHP Community Summit
      </a>
    </li>
    <li>
      <a href="http://www.theconf.club/" class="post-links-link" target="_blank">
        THECONF
      </a>
    </li>
  </ul>
</section>
