<section class="partners">
  <ul class="partners-list">
    <li class="partners-title">
      Projeto apoiado pelas empresas
    </li>
    <li>
      <a href="http://bit.ly/dne-alura" class="partners-link" target="_blank">
        <img class="image-adap" src="{{ "assets/img/partners/alura.png" | prepend: site.baseurl }}" alt="Logo da empresa Alura" />
      </a>
    </li>
    <li>
      <a href="http://bit.ly/dne-magnetis" class="partners-link" target="_blank">
        <img class="image-adap" src="{{ "assets/img/partners/magnetis.png" | prepend: site.baseurl }}" alt="Logo da Magnetis" />
      </a>
    </li>
    <li>
      <a href="http://bit.ly/dne-bluesoft" class="partners-link" target="_blank">
        <img class="image-adap" src="{{ "assets/img/partners/bluesoft.png" | prepend: site.baseurl }}" alt="Logo da Bluesoft" />
      </a>
    </li>
    <li>
      <a href="http://bit.ly/dne-revelo" class="partners-link" target="_blank">
        <img class="image-adap" src="{{ "assets/img/partners/revelo.png" | prepend: site.baseurl }}" alt="Logo da empresa Revelo.com.br" />
      </a>
    </li>
  </ul>
</section>
