<section class="partners">
  <h2 class="partners-title">Esse projeto é patrocinado pelas empresas:</h2>
  <ul class="partners-list">
    <li>
      <a href="#" class="partners-link">
        <img class="image-block" src="{{ "public/assets/img/partners/contratadome.png" | prepend: site.baseurl }}" alt="Logo da empresa Contratado.me" />
      </a>
    </li>
    <li>
      <a href="#" class="partners-link">
        <img class="image-block" src="{{ "public/assets/img/partners/vanhack.png" | prepend: site.baseurl }}" alt="Logo da empresa Vanhack" />
      </a>
    </li>
    <li>
      <a href="#" class="partners-link">
        <img class="image-block" src="{{ "public/assets/img/partners/alura.png" | prepend: site.baseurl }}" alt="Logo da empresa Alura" />
      </a>
    </li>
    <li>
      <a href="#" class="partners-link">
        <img class="image-block" src="{{ "public/assets/img/partners/stickersdevs.png" | prepend: site.baseurl }}" alt="Logo da empresa StickersDevs" />
      </a>
    </li>
  </ul>
</section>