<div class="product-collection">
  {% for product in include.data %}
  <section class="product-item">
    <div class="product-item-holder">
      <figure class="product-image">
        <img src="{{ product.image | prepend: site.baseurl }}" />
        <figcaption class="product-caption">
          <h2 class="subtitle">{{ product.name }}</h2>
        </figcaption>
      </figure>
      <p class="product-size">
        Tamanho: {{ product.size }}
      </p>
      <div class="product-button">
        <form class="pagseguro" action="https://pagseguro.uol.com.br/checkout/v2/payment.html" method="post">
          <input type="hidden" name="code" value="{{ product.pag_code }}" />
          <input type="image" src="https://stc.pagseguro.uol.com.br/public/img/botoes/pagamentos/99x61-comprar-laranja-assina.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
        </form>
      </div>
    </div>
  </section>
  {% endfor %}
</div>
