<div class="product-collection">
  {% for product in include.data %}
  <section class="product-item">
    <a href="{{ product.url }}" class="product-item-holder" target="_blank">
      <figure class="product-image">
        <img src="{{ product.image | prepend: site.baseurl }}" />
        <figcaption class="product-caption">
          <h2 class="subtitle">{{ product.buy }}</h2>
        </figcaption>
      </figure>
      <p class="product-size">
        {{ product.name }}
      </p>
      <p class="product-price">
        <strong>R$ 40,00 + frete</strong>
      </p>
    </a>
  </section>
  {% endfor %}
</div>
