<nav class="social-nav">
	<ul>
		<li>
			<a href="{{ site.itunes_itpc }}" class="nav-itunes">
				Escute no iTunes
			</a>
		</li>
		<li>
			<a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="nav-feed">
				Assine o feed
			</a>
		</li>
		<li>
			<a href="http://www.twitter.com/devnaestrada" class="nav-twitter">
				Siga no Twitter
			</a>
		</li>
		<li>
			<a href="http://www.facebook.com/devnaestrada" class="nav-facebook">
				Curta no Facebook
			</a>
		</li>
		<li>
			<a href="http://soundcloud.com/devnaestrada" class="nav-soundcloud">
				Escute no Soundcloud
			</a>
		</li>
		<li>
			<a href="https://github.com/devnaestrada/devnaestrada.com.br" class="nav-github">
				Fork no Github
			</a>
		</li>
	</ul>
</nav>