<section>
  <h2>Nossos Apoios:</h2>
  <ul>
    <li>
      <a href="http://bit.ly/dne-magnetis" class="post-links magnetis" target="_blank">Magnetis.com.br</a><br />
      Investimentos sob medida para seus sonhos | Magnetis
    </li>
    <li>
      <a href="http://bit.ly/dne-contratado" class="post-links contratado" target="_blank">Contratado.me</a><br />
      Você encontra seu emprego novo, grátis e 100% online.
    </li>
    <li>
      <a href="http://bit.ly/dne-alura" class="post-links alura" target="_blank">Alura.com.br</a><br />
      Cursos online de programação, design, mobile e muito mais!
    </li>
    <li>
      <a href="http://bit.ly/dne-bluesoft" class="post-links bluesoft" target="_blank">Bluesoft (Carreiras.blue)</a><br />
      Bluesoft - Empresa sensacional de tecnologia para você trabalhar
    </li>
  </ul>
</section>
