<section class="post-support">
  <h2>Doar/Apoio Financeiro</h2>

  <ul>
    <li>
      Quer fazer uma doação recorrente? <a class="highlight" href="https://apoia.se/devnaestrada">https://apoia.se/devnaestrada</a>
    </li>
    <li>
      Faça uma doação pelo Picpay: <a class="highlight" href="https://app.picpay.com/user.html?femontanha">Doar!</a>
    </li>
    <li>
      Doe com Bitcoin: <strong>3FNcoxxRX2zyQ5mYdAQztSGVhX9KvPYGeu</strong>
    </li>
  </ul>

  <img style="margin-top: 10px" src="https://blockchain.info/qr?data=3FNcoxxRX2zyQ5mYdAQztSGVhX9KvPYGeu&amp;size=125">

</section>
