<section class="post-support">
  <h2>Doar/Apoio Financeiro</h2>

  <ul>
    <li>
      Financiamento continuo: <a href="https://apoia.se/devnaestrada">https://apoia.se/devnaestrada</a>
    </li>
    <li>
      <a href="https://www.picpay.com/site/">Picpay</a>: usuário <strong>@femontanha</strong>
    </li>
    <li>
      Bitcoin: <strong>1P9LqMBJ7jx6jm4zzkrVzAK9GKuYJ8byUX</strong>
    </li>
  </ul>

  <img style="margin-top: 10px" src="https://blockchain.info/qr?data=1P9LqMBJ7jx6jm4zzkrVzAK9GKuYJ8byUX&amp;size=125">

</section>
